<!DOCTYPE html>
<html lang="pt-br">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gestão de Equipamentos</title>
    </head>

    <body>    
        <h1>Gestão de Equipamentos</h1>

        <hr>
            <a href="/Fabricante/Listar">Controle de Fabricantes</a> -
            <a href="/Equipamento/Listar">Controle de Equipamentos</a> -
            <a href="/Chamado/Listar">Controle de Chamados</a> -
            <a href="https://www.academiadoprogramador.net/inicio" target="_blank">Academia do Progamador</a> -
        <hr>

        @RenderBody()
    </body>
</html>