@using GestaoDeEquipamentosWeb.ConsoleApp.ModuloFabricante;

@model List<Fabricante>;

<h2>Cadastro de Fabricante</h2>

<form action="/Fabricante/Cadastrar" method="post">
    <div>
        
        <label>Nome</label>
        <br>
        <input type="text" name="Nome">
    </div>

    <div>
        
        <label>Email</label>
        <br>
        <input type="email" name="Email">
    </div>

    <div>
        
        <label>Telefone</label>
        <br>
        <input type="text" name="Telefone">
    </div>

    <button type="submit">Confirmar</button>
</form>