@using GestaoDeEquipamentosWeb.ConsoleApp.ModuloFabricante;

@model List<Fabricante>;

<h2>Listagem de Fabricantes</h2>

<hr><a href="/Fabricante/Cadastrar">Cadastrar Novo</a><hr>

<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>Email</td>
            <td>Telefone</td>
            <td>Ações</td>
        </tr>
    </thead>

    <tbody>
        @foreach (Fabricante f in Model)
        {
            <tr>
                <td>@f.Id</td>
                <td>@f.Nome</td>
                <td>@f.Email</td>
                <td>@f.Telefone</td>
                <td><a href="/Fabricante/Editar/@f.Id">Editar</a></td>
                <td><a href="/Fabricante/Excluir/@f.Id">Excluir</a></td>
            </tr>
        }
    </tbody>
</table>